<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TradeControl.Tax.Office.Properties.Settings.tcBomConnectionString"
            connectionString="Data Source=TC-PC01;Initial Catalog=tcBom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TradeControl.Tax.Office.Properties.Settings.tcTHEBUSConnectionString"
            connectionString="Data Source=IAM;Initial Catalog=tcTHEBUS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TradeControl.Tax.Office.Properties.Settings.tcNodeConnectionString"
            connectionString="Data Source=IAM;Initial Catalog=tcNode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
