<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xltCashFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TradeControl.CashFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="xltCashFlow.Properties.Settings.tcBomConnectionString"
            connectionString="Data Source=TC-PC01;Initial Catalog=tcBom;Integrated Security=True" />
        <add name="TradeControl.CashFlow.Properties.Settings.tcNodeConnectionString"
            connectionString="Data Source=IAM;Initial Catalog=tcNode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <xltCashFlow.Properties.Settings>
            <setting name="SqlAuthentication" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncludeOrderBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBankBalances" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeActivePeriods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBankTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeVatDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SqlServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SqlUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="IncludeTaxAccruals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Greyscale" serializeAs="String">
                <value>False</value>
            </setting>
        </xltCashFlow.Properties.Settings>
        <TradeControl.CashFlow.Properties.Settings>
            <setting name="AuthenticationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncludeOrderBook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBankBalances" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeActivePeriods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBankTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeVatDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SqlServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeTaxAccruals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Greyscale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeBalanceSheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>60</value>
            </setting>
        </TradeControl.CashFlow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
