<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TradeControl.Documents.Word.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TradeControl.Documents.Word.Properties.Settings>
            <setting name="InvoiceTaskXml" serializeAs="String">
                <value>InvoiceTask</value>
            </setting>
            <setting name="InvoiceActivityXml" serializeAs="String">
                <value>InvoiceActivity</value>
            </setting>
            <setting name="TaskSingleXml" serializeAs="String">
                <value>OrderSingleLine</value>
            </setting>
            <setting name="TaskMultipleXml" serializeAs="String">
                <value>OrderMultiLine</value>
            </setting>
        </TradeControl.Documents.Word.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
